@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 48 100% 50%;
    --primary-foreground: 270 8% 16%;
    --container: 48 100% 95%;
    --container-foreground: 0 0% 44%;
    --background: 0 0% 100%;
    --foreground: 270 8% 16%;

    --font-Arimo: 'Arimo', sans-serif;
    --font-Roboto: 'Roboto', sans-serif;
  }

  .dark {
    --primary: 48 100% 50%;
    --primary-foreground: 40 4% 21%;
    --container: 40 1% 40%;
    --container-foreground: 40 18% 71%;
    --background: 40 7% 17%;
    --foreground: 38 17% 76%;

    --font-Arimo: 'Arimo', sans-serif;
    --font-Roboto: 'Roboto', sans-serif;
  }
}
